@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --second-color: #17252A;
  --bgH: #202124;
  --bgB: #84B4F8;
  --bgBP: #63a2fa;

  --bgT: #f9f9f9;
  --bgP: #ffffff;
  --bgS: #191919;
  --bgF: #0057ff;
  --bgK: #014ee3;
  --bgC: #d1d1d1;
  --bgM: #a2a0a0;
  --bgI: #e5ebeb;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /*border: 1px solid red;*/
}

/*body, html
{
 height: 100%;
 width: 100%;
}*/

body
{
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  /* display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;*/
  background: var(--bgH);
  background-image: url('../images/wavepp.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.head {
  height: 62px;
  display: flex;
  margin: 0 100px;
  align-items: center;
  justify-content: space-between;
}

.head-logo a {
  margin: 0;
  font-family: 'Roboto';
  font-size: 2rem;
  font-weight: 700;
  color: var(--bgP);
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  font-size: 26px;
  padding: 0 15px;
  transition: 0.5s;
  color: var(--bgP);
  text-decoration: none;
}

.nav ul li a:hover {
  color: var(--bgT);
  padding: 9px 20px;
  background: var(--bgB);
  transition: all 0.4s ease 0s;
  border-radius: 0px 25px 25px 0px;
}

/*.sign_c {
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.sign_c a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sign {
  border: none;
  font-size: 24px;
  color: var(--bgT);
  padding: 10px 25px;
  border-radius: 25px 0px 0px 25px;
  background: var(--bgB);
  transition: 0.5s;

}

#sign:hover {
  color: var(--bgT);
  border-radius: 100px;
  /* border-radius: 25px 0px 0px 25px; */
  padding: 10px 35px;
  transition: 0.4s;
}

.box-lgn
{
  gap: 30px;
  display: flex;
  padding: 50px;
  margin: 10% auto;
  max-width: 460px;
  max-height: 520px;
  border-radius: 25px;
  align-items: center;
  background: var(--bgH);
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--bgC);

  min-width: 460px;
  min-height: 520px;
}

 .logo {
  top: -70px;
  padding: 10px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.logo .fa_user {
  width: 8vh;
  height: 6vh;
  display: flex;
  font-size: 8rem;
  color: var(--bgT);
  align-items: center;
  justify-content: center;
}

.box-inputs
{
  position: relative;
  width: 250px;
}

.box-inputs input {
  width: 100%;
  padding: 15px 15px;
  outline: none;
  font-size: 1em;
  color: var(--bgT);
  border-radius: 5px;
  background: var(--bgS);
  border: 1px solid var(--bgC);
}

.box-inputs span
{
  left: 0;
  padding: 15px;
  font-size: 1em;
  transition: 0.5s;
  color: var(--bgM);
  position: absolute;
  pointer-events: none;
  text-transform: uppercarse;
}

.box-inputs input:valid ~ span,
.box-inputs input:focus ~ span
{
  padding: 0 10px;
  color: var(--bgB);
  font-size: 0.95em;
  letter-spacing: 0.1em;
  background: var(--bgH);
  transform: translateX(10px) translateY(-7px);
}

.box-inputs input:valid,
.box-inputs input:focus
{
  border: 2px solid var(--bgB);
}

.box-buttons button
{
  width: 100%;
  border: none;
  font-size: 20px;
  color: var(--bgT);
  border-radius: 5px;
  padding: 15px 95px;
  background: var(--bgK);
}

.box-buttons button:hover
{
  transition: 0.5s;
  background: var(--bgF);
}

.box-accounts-msg {
  display: flex;
  color: var(--bgM);
}

.box-accounts-msg a {
  margin: 0 5px;
  color: var(--bgB);
  text-decoration: none;
  transition: 0.5s;
}

.box-account-msg a:hover, #msg-link:hover {
  color: var(--bgBP);
  transition: 0.5s;
}

.box-alert {
  position: absolute;
  /* margin-top: -86vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -66vh 10vh 0 100vh;
  max-width: 260px;
  padding: 20px;
  color: var(--bgI);
  /* margin-left: 100vh;
  margin-right: 10vh; */
  background: var(--bgH);
  /*border: 1px solid rgb(92, 32, 32);*/
  border-radius: 10px;
  transition: 0.8s;
}
